<h3>{{viewTitle}}</h3>


<form method="POST" accept="/employee/edit/" class="" role="form" autocomplete="off">
    <input type="hidden" name="_id" value="{{employee._id}}">
    <div class="form-group">
      <label >fullName :</label>
      <input type="text" name="fullName" class="form-control" value="{{employee.fullName}}"  >
      <div class="text-danger">
        {{employee.fullNameError}}
      </div>
    </div>

    <div class="form-group">
      <label >email :</label>
      <input type="text" name="email" class="form-control" value="{{employee.email}}"  >
    </div>

    <div class="form-group">
      <label >Mobile :</label>
      <input type="text" name="mobile" class="form-control" value="{{employee.mobile}}"  >
    </div>

    <div class="form-group">
      <label >City :</label>
      <input type="text" name="city" class="form-control"  value="{{employee.city}}" >
    </div>
    
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" class="btn btn-info">Submit</button>
      </div>
    </div>
</form>
